$primary-bg: #FDEEEA;
$primary-color: #FF3E6C;

*
{
    font-family: 'Assistant';
}
.login 
{
    height:90vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: $primary-bg;
}
.login-inner 
{
    padding: 2rem 3rem;
    background-color: white;
    width: 400px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.09);
}
.title 
{
    font-weight: 700;
    font-size: 1.1rem;
}
.input-fields 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem 0;

    input 
    {
        width: 100%;
        outline: none;
        border: 1px solid gray;
        padding: 0.5rem 1rem;   
        font-weight: 500;
    }
}
#outlined-basic 
{
    width: 100%;
    // height: .5rem;
}
.login-btnn
{
    background-color: $primary-color;
    width: 100%;
    border: none;
    color:white;
    font-family: 'Assistant';
    padding:0.5rem .2rem;
    font-size: 1rem;
    font-weight: 700;
    margin: 0.7rem 0;
    cursor: pointer;

    &:hover 
    {
        background-color: #f91c50;
    }
}
.footer
{
    display: none;
}
@media screen and (max-width:400px) {
    .login
    {
        height: 60vh;
        // display: none;
    }
    .login-inner
    {
        width: 370px;
    }
}