$primary-color: #FF3E6C;

*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Assistant';
}
body 
{
    background-color: #202020;
    color:white;
}
a 
{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
@media screen and (max-width:600px) {
    html 
    {
        font-size: 12px;
    }
}