.banner 
{
    width: 100%;
}
.desc 
{
    padding: 1rem 2rem;
    p 
    {
        font-family: 'Assistant';

        span 
        {
            font-weight: 700;
        }
    }
}
.shop-category-list 
{
    padding: 1rem 5rem !important;   
}