$primary-title: #3e4152;

.item 
{
    color:black;
    font-family: 'Assistant';
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // width: 320px;
    max-width: 100%;

    .name 
    {
        font-weight: 600;
    }

    img 
    {
        width: 100%;
        border-radius: 10px;
    }
}
.price 
{
    display: flex;
    gap: 10px;
    margin: 0.2rem 0;

    .new-price 
    {
        font-weight: bolder;
    }
    .old-price 
    {
        font-weight: 700;
        color: gray;
        text-decoration: line-through;
    }
}
@media screen and (max-width:600px)
{
    .item
    {
        // max-width: 50%;
    }
}