$primary-color: #FF3E6C;

.add-product 
{
    padding: 1rem 2rem;
    width: 80%;
    
    div 
    {
        margin: 0.8rem 0;
        p 
        {
            font-size: 1.4rem;
        }
        input 
        {
            width: 40rem;
            height: 2rem;
            outline: none;
            padding: 0 0.5rem;
            font-size: 1.2rem;
        }

        &:nth-child(4) 
        {
            select 
            {
                width: 40rem;
                height: 2rem;
                font-size: 1.2rem;
            }
        }
        &:nth-child(5)
        {
            .upload-area 
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                height: 10rem;
                width: 40rem;
                border:2px dashed white;
                cursor: pointer;

                span 
                {
                    font-size: 2rem;
                }
            }
            button 
            {
                padding: .5rem 2rem;
                width: 10%;
                cursor: pointer;
                color:white;
                font-size: 1.1rem;
                border:none;
                border-radius: 10px;
                background-color: rgb(71, 165, 202);

                &:hover 
                {
                    background-color: rgb(57, 131, 161);
                }
            }
        }
    }
}
.upload-img 
{
    height: 5rem;
    width: 5rem;
}
@media screen and (max-width:900px) {
    .add-product 
    {
        width: 100%;

        div 
        {
            width: 100%;

            input
            {
                width: 100%;
            }
            &:nth-child(4) 
            {
                select
                {
                    width: 100%;
                }
            }
            &:nth-child(5)
            {
                .upload-area
                {
                    width: 100%;
                }
                button 
                {
                    width: 10rem;
                    padding: 1rem 0;
                }
            }
        }
    }
}
@media screen and (max-width:600px) {
    .add-product 
    {
        width: 100%;

        div 
        {
            width: 100%;

            input
            {
                width: 100%;
            }
            &:nth-child(4) 
            {
                select
                {
                    width: 100%;
                }
            }
            &:nth-child(5)
            {
                .upload-area
                {
                    width: 100%;
                }
                button 
                {
                    width: 10rem;
                    padding: 1rem 0;
                }
            }
        }
    }
}