.list-products
{
    padding: 1rem 2rem;
    width: 100%;

    h1 
    {
        margin-bottom: 2rem;
    }
    table 
    {
        table-layout: fixed;
        margin: 1rem 0;

        td
        {
            border-bottom: 1px solid white;
            padding: 2rem;
            width: 100%;
        }

        th, td {
            width: calc(100% / 6); 
        }
        
    }
    img 
    {
        height: 100px;
    }
}
@media screen and (max-width:950px) {
    .list-products 
    {
        font-size: 12px;

        table 
        {
            td 
            {
                padding: 1rem;
            }
        }
    }
}
.remove-td 
{
    cursor: pointer;
}
@media screen and (max-width:800px) {
    .list-products
    {
        table 
        {
            td 
            {
                padding: 0.5rem;
            }
        }
    }
}
@media screen and (max-width:600px) {
    .list-products
    {
        width: 100%;
        margin-top: 5rem;
        font-size: 14px;
    }
}