$primary-color: #FF3E6C;

.cart 
{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
}
table 
{
    border-collapse: collapse;
}
tr 
{
    border-bottom: 2px solid gray;
    
    th 
    {
        padding-bottom: 2rem;
    }
}
.cart-total
{
    display: flex;
    padding: 1rem 3rem;
}

.cart-total-left 
{
    width: 50%;
    display: flex;
    flex-direction: column;

    h1 
    {
        padding: 1rem 0;
    }

    div 
    {
        display: flex;
        width: 100%;
        padding: 1rem 0;
        justify-content: space-between;
        border-bottom: 2px solid gray;

        &:nth-child(4)
        {
            font-weight: 700;
        }
        p 
        {
            font-size: 1.2rem;
        }
    }
}
.cart-total-right 
{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    p 
    {
        font-size: 1.3rem;
    }
    div 
    {
        display: flex;
        align-items: center;
    }
    input 
    {
        outline: none;
        padding: 5px 20px;
        font-size: 1.1rem;
    }
    button 
    {
        padding: 8px 10px;
        background-color: #202020;
        color:white;
        font-weight: 600;
    }
}
@media screen and (max-width:600px) {
    .cart-total
    {
        flex-direction: column;
    }
    .cart-total-left
    {
        width: 100%;
    }
    .cart-total-right
    {
        width: 100%;
        align-items: center;
        margin-top: 10px;
    }
}
.proceed-btn 
{
    margin: 1rem 3rem;
    width: 12rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: $primary-color;
    color:white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover 
    {
        background-color: #f70c42;
    }
}