.cart 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
table 
{
    border-collapse: collapse;
}
tr 
{
    border-bottom: 2px solid gray;
    
    th 
    {
        padding-bottom: 2rem;
    }
}